<div class="page">

	<div *ngIf="user$ | async as queryParams else loadingIdicator">

		<form *ngIf="!showChangePasswordResult" novalidate [formGroup]="changePwdForm">

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="tempPasswordInput">Aktuelles Passwort*</label>
					</div>
				</div>
				<div class="row" [class.error]="oldPassword.touched && !oldPassword.valid">
					<div class="col-md-12">
						<input class="form-control" type="password" id="oldPasswordInput"
							placeholder="Aktuelles Passwort" formControlName="oldPassword">
					</div>
				</div>
				<prfl-form-error path="oldPassword" text="Altes Passwort"></prfl-form-error>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="passwortInput">Neues Passwort*</label>
					</div>
				</div>
				<div class="row" [class.error]="passwort.touched && !passwort.valid">
					<div class="col-xs-12 col-sm-10 btn-wrapper">
						<input class="form-control" type="password" id="passwortInput" placeholder="Neues Passwort"
							formControlName="passwort" autocomplete="false">
					</div>
					<div class="col-xs-12 col-sm-2 btn-wrapper">
						<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
							title="{{tooltipPasswort}}">
							<i class="fa fa-info" aria-hidden="true"></i> Info
						</button>
					</div>
				</div>
				<prfl-form-error path="passwort" text="Passwort"></prfl-form-error>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="passwortWdhInput">Neues Passwort wiederholt*</label>
					</div>
				</div>
				<div class="row" [class.error]="passwortWdh.touched && !passwortWdh.valid">
					<div class="col-md-12">
						<input class="form-control" type="password" id="passwortWdhInput"
							placeholder="Passwort wiederholt" formControlName="passwortWdh" autocomplete="false">
					</div>
				</div>
				<prfl-form-error path="passwortWdh" text="Passwort wiederholt"></prfl-form-error>
			</div>

			<!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
			<div *ngIf="changePwdForm.hasError('passwortNeuPasswortNeuWdh')" class="alert alert-danger">Die
				Passw&ouml;rter
				stimmen
				nicht &uuml;berein.</div>

			<div class="row">
				<div class="col-sm-12 col-md-4 btn-wrapper">
					<button class="col-md-12 btn btn-primary" (click)="submit()"
						[disabled]="!changePwdForm.valid || showBlockingIndicator">
						Passwort ändern
					</button>
				</div>
			</div>
			<div class="row">
				<div *ngIf="showBlockingIndicator" class="col-md-4">
					<div class=" img">
						<i class="fa fa-spinner fa-spin"></i> Bitte warten...</div>
				</div>
			</div>
		</form>
	</div>
</div>


<ng-template #loadingIdicator>
	<h3>Bitte warten...</h3>
</ng-template>
