* {
	/** box content wird automatisch so berechnet, dass width und height konstant bleiben */
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	background-color: #FAFBFC;
}

h3 {
	font-size: 1.3rem;
}

button {
	cursor: pointer;
}

.kleber {
	position: fixed;
	left: -1000px;
}

.btn-container {
	margin: 10px 0 10px 0;
}

.btn-wrapper {
	margin-bottom: 10px;
}


footer {
	position: relative;
	margin-top: 250px;
}

.page {
	margin: 10px;
	padding: 10px;
	background-color: white;
	border: 1pt solid;
	border-color: #D1D5DA;
	border-radius: 5px;
	text-align: left;
}



/* ===== small devices ==== */

@media (max-width: 768px) {

	.h4,
	body {
		font-size: 1rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	.dialog {
		width: 100%;
	}

}
